.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.progress{
  position: relative; /* with scale */
  height: 20px;
  width: 500px;
  width: 500px;
  border: 1px solid black;
  border-radius: 12px;
  overflow: hidden;
}
.progress span{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}

.progress div{
  height: 100%;
  width: 20%;
  background-color: aquamarine;
}